/*=========================================================================================
	File Name: vertical-content-menu.scss
	Description: A vertical style content menu with expand and collops support. It support
	light & dark version, filpped layout, right side icons, native scroll and borders menu
	item seperation.
	----------------------------------------------------------------------------------------
	Item Name: Robust - Responsive Admin Template
	Version: 2.1
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
.vertical-content-menu.menu-expanded .navbar .navbar-header
{
    float: left;

    width: 240px;
}

.vertical-content-menu.menu-expanded .navbar.navbar-brand-center .navbar-header
{
    float: left;

    width: auto;
}

.vertical-content-menu.menu-expanded .navbar.navbar-brand-center .navbar-container
{
    margin-left: 0;
}

.vertical-content-menu.menu-expanded .navbar .navbar-container
{
    margin-left: 240px;
}

.vertical-content-menu.menu-expanded .main-menu
{
    top: inherit; 

    width: 240px;

    -webkit-transition: 300ms ease all;
       -moz-transition: 300ms ease all;
         -o-transition: 300ms ease all;
            transition: 300ms ease all;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}
.vertical-content-menu.menu-expanded .main-menu .navigation .navigation-header .ft-minus
{
    display: none;
}
.vertical-content-menu.menu-expanded .main-menu .navigation > li > a > i
{
    margin-right: 12px;
}
.vertical-content-menu.menu-expanded .main-menu .navigation > li > a > i:before
{
    font-size: 1.2rem;
}
.vertical-content-menu.menu-expanded .main-menu .navigation > li > a > span
{
    display: inline-block;
}
.vertical-content-menu.menu-expanded .main-menu .navigation > li > a > span.tag
{
    position: absolute;
    top: 10px; 
    right: 20px;
}
.vertical-content-menu.menu-expanded .main-menu .navigation li.has-sub > a:not(.mm-next):after
{
    font-family: 'FontAwesome';
    font-size: 1rem;

    position: absolute;
    top: 12px;
    right: 20px;

    display: inline-block;

    content: '\f105';
    transition: -webkit-transform .2s ease-in-out; 
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}
.vertical-content-menu.menu-expanded .main-menu .navigation li.has-sub .has-sub > a:not(.mm-next):after
{
    top: 8px;
}
.vertical-content-menu.menu-expanded .main-menu .navigation li.open > a:not(.mm-next):after
{
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
}
.vertical-content-menu.menu-expanded .main-menu .main-menu-footer
{
    width: 240px;
}

.vertical-content-menu.menu-expanded .content-body
{
    margin-left: 268px;

    -webkit-transition: 300ms ease all;
       -moz-transition: 300ms ease all;
         -o-transition: 300ms ease all;
            transition: 300ms ease all;
}

.vertical-content-menu.menu-expanded.menu-flipped .content-body
{
    margin: 0;
    margin-right: 268px;

    -webkit-transition: 300ms ease all;
       -moz-transition: 300ms ease all;
         -o-transition: 300ms ease all;
            transition: 300ms ease all;
}

@media (min-width: 576px)
{
    .vertical-content-menu.menu-expanded.menu-flipped:not(.boxed-layout) .main-menu
    {
        right: 20px;
    }
    .vertical-content-menu.menu-expanded.menu-flipped.boxed-layout .main-menu
    {
        position: relative; 

        float: right;
    }
}

.vertical-content-menu.menu-expanded.menu-flipped .navbar .navbar-header
{
    float: right;
}

.vertical-content-menu.menu-expanded.menu-flipped .navbar .navbar-container
{
    margin: 0;
    margin-right: 240px;
}

.vertical-content-menu.menu-collapsed .navbar .navbar-header
{
    float: left;

    width: 240px;
}

.vertical-content-menu.menu-collapsed .navbar.navbar-brand-center .navbar-header
{
    float: left;

    width: auto;
}

.vertical-content-menu.menu-collapsed .navbar.navbar-brand-center .navbar-container
{
    margin-left: 0;
}

.vertical-content-menu.menu-collapsed .navbar .navbar-container
{
    margin-left: 240px;
}

.vertical-content-menu.menu-collapsed .main-menu
{
    top: inherit; 

    width: 61px;

    -webkit-transition: 300ms ease all;
       -moz-transition: 300ms ease all;
         -o-transition: 300ms ease all;
            transition: 300ms ease all;
    -webkit-transform: translateZ(-160px) translateX(-160px);
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translateZ(-160px) translateX(-160px);
       -moz-transform: translate3d(0, 0, 0);
            transform: translateZ(-160px) translateX(-160px);
            transform: translate3d(0, 0, 0);
}
.vertical-content-menu.menu-collapsed .main-menu .main-menu-header .user-content
{
    padding: 20px 10px;
}
.vertical-content-menu.menu-collapsed .main-menu .main-menu-footer,
.vertical-content-menu.menu-collapsed .main-menu .main-menu-header .media-body .media-heading,
.vertical-content-menu.menu-collapsed .main-menu .main-menu-header .media-body .text-muted,
.vertical-content-menu.menu-collapsed .main-menu .main-menu-header .media-right
{
    display: none;
}
.vertical-content-menu.menu-collapsed .main-menu .main-menu-header .media-body
{
    opacity: 0;
}
.vertical-content-menu.menu-collapsed .main-menu .main-menu-content > span.menu-title,
.vertical-content-menu.menu-collapsed .main-menu .main-menu-content a.menu-title
{
    font-weight: 600;

    left: 61px;

    width: 240px;
    padding: 14px 20px; 

    text-align: left;
    text-transform: uppercase;

    color: #fff;
    border-color: #3bafda;
    background-color: #3bafda;
}
.vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content
{
    left: 61px;

    width: 240px;

    -webkit-transition: visibility .25s,opacity .25s;
       -moz-transition: visibility .25s,opacity .25s;
         -o-transition: visibility .25s,opacity .25s;
            transition: visibility .25s,opacity .25s;

    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .02); 
    -webkit-box-shadow: 25px 5px 75px 2px rgba(64, 70, 74, .2);
            box-shadow: 25px 5px 75px 2px rgba(64, 70, 74, .2);
}
.vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li
{
    position: relative; 

    white-space: nowrap;
}
.vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li a
{
    display: block;

    padding: 8px 20px 8px 20px;

    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}
.vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li.has-sub > a:not(.mm-next):after
{
    font-family: 'FontAwesome';
    font-size: 1rem;

    position: absolute;
    top: 12px;
    right: 20px;

    display: inline-block;

    content: '\f105';
    transition: -webkit-transform .2s ease-in-out; 
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}
.vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li.has-sub .has-sub > a:not(.mm-next):after
{
    top: 8px;
}
.vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li.open > a:not(.mm-next):after
{
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
}
.vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li:hover > a,
.vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li.hover > a
{
    -webkit-transform: translateX(4px);
       -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
         -o-transform: translateX(4px);
            transform: translateX(4px);
}
.vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li:hover > a > a,
.vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li.hover > a > a
{
    -webkit-transform: translateX(-4px);
       -moz-transform: translateX(-4px);
        -ms-transform: translateX(-4px);
         -o-transform: translateX(-4px);
            transform: translateX(-4px);
}
.vertical-content-menu.menu-collapsed .main-menu .navigation
{
    overflow: visible;
}
.vertical-content-menu.menu-collapsed .main-menu .navigation > li.navigation-header
{
    padding: 30px 20px 8px 20px;
}
.vertical-content-menu.menu-collapsed .main-menu .navigation > li.navigation-header .ft-minus
{
    font-size: 1.6rem; 

    display: block;

    padding: 12px 0;

    text-align: center;
}
.vertical-content-menu.menu-collapsed .main-menu .navigation > li.navigation-header span
{
    display: none;
}
.vertical-content-menu.menu-collapsed .main-menu .navigation > li > a
{
    padding: 8px 20px;

    text-align: center;
}
.vertical-content-menu.menu-collapsed .main-menu .navigation > li > a > span
{
    font-weight: 600;

    position: absolute;
    top: 0;
    right: -240px;

    visibility: hidden;

    width: 240px;
    padding: 11px 20px; 

    text-align: left;

    opacity: 0;
    color: #fff;
    border-color: #967adc;
    background-color: #967adc;
}
.vertical-content-menu.menu-collapsed .main-menu .navigation > li > a > i
{
    font-size: 1.4rem;

    visibility: visible; 

    margin-right: 0;
}
.vertical-content-menu.menu-collapsed .main-menu .navigation > li > ul
{
    display: none;
}
.vertical-content-menu.menu-collapsed .main-menu .navigation > li > a > span
{
    display: none;
}
.vertical-content-menu.menu-collapsed .main-menu .mTSWrapper
{
    overflow: visible;
}

.vertical-content-menu.menu-collapsed .content-body
{
    margin-left: 86px;

    -webkit-transition: 300ms ease all;
       -moz-transition: 300ms ease all;
         -o-transition: 300ms ease all;
            transition: 300ms ease all;
}

.vertical-content-menu.menu-collapsed.menu-flipped .content-body
{
    margin-right: 86px;
    margin-left: 0;

    -webkit-transition: 300ms ease all;
       -moz-transition: 300ms ease all;
         -o-transition: 300ms ease all;
            transition: 300ms ease all;
}

@media (min-width: 576px)
{
    .vertical-content-menu.menu-collapsed.menu-flipped:not(.boxed-layout) .main-menu
    {
        right: 1.5rem;
    }
    .vertical-content-menu.menu-collapsed.menu-flipped:not(.boxed-layout) .main-menu span.menu-title
    {
        right: 61px;
    }
    .vertical-content-menu.menu-collapsed.menu-flipped:not(.boxed-layout) .main-menu ul.menu-content
    {
        right: 61px;
        left: inherit;
    }
    .vertical-content-menu.menu-collapsed.menu-flipped.boxed-layout .main-menu
    {
        position: relative; 

        float: right;
    }
    .vertical-content-menu.menu-collapsed.menu-flipped.boxed-layout span.menu-title
    {
        right: 61px;
    }
    .vertical-content-menu.menu-collapsed.menu-flipped.boxed-layout ul.menu-content
    {
        right: 61px;
        left: inherit;
    }
}

.vertical-content-menu.menu-collapsed.menu-flipped .navbar .navbar-header
{
    float: right;
}

.vertical-content-menu.menu-collapsed.menu-flipped .navbar .navbar-container
{
    margin: 0;
    margin-right: 240px;
}

.vertical-content-menu .navbar-brand-center .content,
.vertical-content-menu .navbar-brand-center .footer
{
    margin-left: 0;
}

.vertical-content-menu.boxed-layout.menu-flipped .main-men
{
    position: relative; 

    float: right;
}

[data-textdirection='rtl'] body.vertical-layout.vertical-content-menu.menu-collapsed .main-menu .navigation > li > a
{
    padding: 12px 22px !important;
}

[data-textdirection='rtl'] body.vertical-layout.vertical-content-menu.menu-collapsed .main-menu .navigation > li.navigation-header .ft-minus
{
    padding: 12px 0;
}

@media (min-width: 992px)
{
    body.vertical-content-menu .main-menu,
    body.vertical-content-menu .vertical-overlay-menu.menu-hide .main-menu,
    .vertical-overlay-menu.menu-hide body.vertical-content-menu .main-menu
    {
        width: 240px;
    }
    body.vertical-content-menu .navbar .navbar-header
    {
        width: 240px;
    }
    body.vertical-content-menu .content-body
    {
        margin-left: 268px;

        -webkit-transition: 300ms ease all;
           -moz-transition: 300ms ease all;
             -o-transition: 300ms ease all;
                transition: 300ms ease all;
    }
}

@media (max-width: 991.98px)
{
    body.vertical-content-menu .main-menu,
    body.vertical-content-menu .vertical-overlay-menu.menu-hide .main-menu,
    .vertical-overlay-menu.menu-hide body.vertical-content-menu .main-menu
    {
        width: 61px;
    }
    body.vertical-content-menu .navbar .navbar-header
    {
        width: 61px;
    }
    body.vertical-content-menu .content-body
    {
        margin-left: 86px;

        -webkit-transition: 300ms ease all;
           -moz-transition: 300ms ease all;
             -o-transition: 300ms ease all;
                transition: 300ms ease all;
    }
}

@media (max-width: 767.98px)
{
    body.vertical-content-menu .content-body
    {
        margin-left: 0;
    }
}

/*=========================================================================================
	File Name: vertical-overlay-menu.scss
	Description: A overlay style vertical menu with show and hide support. It support 
	light & dark version, filpped layout, right side icons, native scroll and borders menu 
	item seperation.
	----------------------------------------------------------------------------------------
	Item Name: Robust - Responsive Admin Template
	Version: 2.1
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
.vertical-overlay-menu .content
{
    margin-left: 0;
}

.vertical-overlay-menu .navbar .navbar-header
{
    float: left;

    width: 240px;
}

.vertical-overlay-menu .navbar.navbar-brand-center .navbar-container
{
    margin-left: 0;
}

.vertical-overlay-menu .navbar.navbar-brand-center .navbar-header
{
    float: left;

    width: auto;
}

.vertical-overlay-menu .main-menu,
.vertical-overlay-menu.menu-hide .main-menu
{
    left: -240px; 

    width: 240px;

    -webkit-transition: width .25s,opacity .25s,-webkit-transform .25s;
       -moz-transition: width .25s,opacity .25s,transform .25s,-moz-transform .25s;
         -o-transition: width .25s,opacity .25s,-o-transform .25s;
            transition: width .25s,opacity .25s,-webkit-transform .25s;
            transition: width .25s,opacity .25s,transform .25s;
            transition: width .25s,opacity .25s,transform .25s,-webkit-transform .25s,-moz-transform .25s,-o-transform .25s;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    opacity: 0;
}
.vertical-overlay-menu .main-menu .navigation .navigation-header .ft-minus
{
    display: none;
}
.vertical-overlay-menu .main-menu .navigation > li > a > i
{
    margin-right: 12px;
}
.vertical-overlay-menu .main-menu .navigation > li > a > i:before
{
    font-size: 1.2rem;

    -webkit-transition: 200ms ease all;
       -moz-transition: 200ms ease all;
         -o-transition: 200ms ease all;
            transition: 200ms ease all;
}
.vertical-overlay-menu .main-menu .navigation li.has-sub > a:not(.mm-next):after
{
    font-family: 'FontAwesome';
    font-size: 1rem;

    position: absolute;
    top: 12px;
    right: 20px;

    display: inline-block;

    content: '\f105';
    transition: -webkit-transform .2s ease-in-out; 
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}
.vertical-overlay-menu .main-menu .navigation li.has-sub .has-sub > a:not(.mm-next):after
{
    top: 8px;
}
.vertical-overlay-menu .main-menu .navigation li.open > a:not(.mm-next):after
{
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
}
.vertical-overlay-menu .main-menu .main-menu-footer
{
    bottom: 55px;
}
.vertical-overlay-menu .main-menu .main-menu-footer
{
    width: 240px;
}

.vertical-overlay-menu.menu-open .main-menu
{
    -webkit-transition: width .25s,opacity .25s,-webkit-transform .25s;
       -moz-transition: width .25s,opacity .25s,transform .25s,-moz-transform .25s;
         -o-transition: width .25s,opacity .25s,-o-transform .25s;
            transition: width .25s,opacity .25s,-webkit-transform .25s;
            transition: width .25s,opacity .25s,transform .25s;
            transition: width .25s,opacity .25s,transform .25s,-webkit-transform .25s,-moz-transform .25s,-o-transform .25s; 
    -webkit-transform: translate3d(240px, 0, 0);
       -moz-transform: translate3d(240px, 0, 0);
            transform: translate3d(240px, 0, 0);

    opacity: 1;
}

.vertical-overlay-menu.menu-flipped .main-menu
{
    right: -240px;
    left: inherit;
}

.vertical-overlay-menu.menu-flipped .navbar .navbar-container
{
    margin: 0;
    margin-right: 240px;
}

.vertical-overlay-menu.menu-flipped .navbar .navbar-header
{
    float: right;
}

.vertical-overlay-menu.menu-flipped.menu-open .main-menu
{
    -webkit-transform: translate3d(-240px, 0, 0);
       -moz-transform: translate3d(-240px, 0, 0);
            transform: translate3d(-240px, 0, 0);
}

@media (max-width: 991.98px)
{
    .vertical-overlay-menu .main-menu .main-menu-footer
    {
        bottom: 0;
    }
}
