.chat-application .app-content,
.chat-application .content-right,
.chat-application .content-wrapper,
.chat-application .content-body
{
    height: 100%;
}

.chat-application .content-wrapper
{
    padding: 0 !important;
}

.chat-application .sidebar-left
{
    z-index: 999; 

    border-right: 1px solid #e4e7ed;
}

.chat-application .chat-fixed-search
{
    position: fixed;
    z-index: 999;

    width: 300px;

    border-bottom: 1px solid #e4e7ed; 
    background: #fff;
}

.chat-application .users-list-padding
{
    padding-top: 83px;
    padding-bottom: 60px;
}

.chat-application .chat-app-window
{
    overflow-y: scroll;

    height: -webkit-calc(100% - 112px);
    height:    -moz-calc(100% - 112px);
    height:         calc(100% - 112px);
    padding: 20px 30px;

    text-align: center;

    background-color: #fff;
}

.chat-application .chat-app-form
{
    position: relative;

    overflow: hidden; 

    padding: 20px 10px;

    background-color: white;
}

.chat-application .chats
{
    padding: 0;
}
.chat-application .chats .chat-body
{
    display: block;
    overflow: hidden; 

    margin: 10px 30px 0 0;
}
.chat-application .chats .chat-body .chat-content
{
    position: relative;

    display: block;
    float: right;
    clear: both;

    margin: 0 20px 10px 0;
    padding: 8px 15px;

    text-align: right;

    color: #fff;
    border-radius: 4px; 
    background-color: #3bafda;
}
.chat-application .chats .chat-body .chat-content:before
{
    position: absolute;
    top: 10px;
    right: -10px;

    width: 0;
    height: 0;

    content: '';

    border: 5px solid transparent;
    border-left-color: #3bafda;
}
.chat-application .chats .chat-body .chat-content + .chat-content:before
{
    border-color: transparent;
}
.chat-application .chats .chat-body .chat-content p
{
    margin: 0;
}
.chat-application .chats .chat-avatar
{
    float: right;
}
.chat-application .chats .chat-avatar .avatar
{
    width: 50px;
    margin-top: -10px;
}
.chat-application .chats .time
{
    font-size: 12px;

    margin: 40px 0; 

    text-align: center;

    color: #f7f7f9;
}
.chat-application .chats .chat-left .chat-avatar
{
    float: left;
}
.chat-application .chats .chat-left .chat-body
{
    margin-right: 0;
    margin-left: 30px;
}
.chat-application .chats .chat-left .chat-content
{
    float: left;

    margin: 0 0 10px 20px;

    text-align: left;

    color: #55595c;
    background-color: white;
}
.chat-application .chats .chat-left .chat-content + .chat-content:before
{
    border-color: transparent;
}
.chat-application .chats .chat-left .chat-content:before
{
    right: auto;
    left: -10px;

    border-right-color: white;
    border-left-color: transparent;
}

.chat-application .form-control-position
{
    cursor: pointer;
}
.chat-application .form-control-position.control-position-right
{
    top: 2px;
    right: 18px;

    cursor: pointer;
}

@media (max-width: 767.98px)
{
    .chat-application .chat-app-window
    {
        height: -webkit-calc(100% - 132px);
        height:    -moz-calc(100% - 132px);
        height:         calc(100% - 132px);
    }
}

.horizontal-layout.chat-application .app-content
{
    height: -webkit-calc(100% - 144px) !important;
    height:    -moz-calc(100% - 144px) !important;
    height:         calc(100% - 144px) !important;
    min-height: -webkit-calc(100% - 144px) !important;
    min-height:    -moz-calc(100% - 144px) !important;
    min-height:         calc(100% - 144px) !important;
    margin-top: 0 !important;
}
.horizontal-layout.chat-application .app-content .chat-app-window
{
    height: -webkit-calc(100% - 83px) !important;
}
